* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mina', sans-serif;
    font-weight: 700;
}

.inputsearch {
    width: 600px;
}

.title {
    text-align: center;
    margin-top: 10px;
}

#btnsearch {
    background-color: blue;
    color: white;
}

ul {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

li {
    margin-bottom: 15px;
    list-style-type: none;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

.myChart {
    width: 1000px;
}

.red {
    color: red;
}

.green {
    color: green;
}

#nameCompany {
    text-align: center;
}

.container {
    padding: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.containerResult {
    display: flex;
}

.inputContainer {
    margin-top: 20px;
}

img {
    width: 50px;
}

#spinner {
    position: relative;
    left: 50%;
    margin-top: 200px;
    background-color: white;
    border: none;
}

#spinnerTwo {
    position: relative;
    left: 50%;
    margin-top: 300px;
    background-color: white;
    border: none;
}

.charts {
    padding: 45px;
    margin: 10px;
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.description {
    margin: 10px;
    padding: 45px;
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.companyDetails {
    text-align: center;
}

.secondImg {
    width: 100px;
}

.bannerContainer {
    position: relative;
    overflow: hidden;
    --offset: 20vw;
    --move-final: calc(-25% + var(--offset));
    --move-initial: calc(-50% + var(--offset));
}

.banner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 40s infinite;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.bannerContainer span {
    padding: 5px;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }
    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}