* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mina', sans-serif;
    font-weight: 700;
}

.inputsearch {
    width: 600px;
}

.title {
    text-align: center;
    margin-top: 10px;
}

#btnsearch {
    background-color: blue;
    color: white;
}

ul {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

li {
    margin-bottom: 15px;
    list-style-type: none;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

.myChart {
    width: 1000px;
}

.red {
    color: red;
}

.green {
    color: green;
}

#nameCompany {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.containerResult {
    display: flex;
}

.inputContainer {
    margin-top: 20px;
}

img {
    width: 50px;
}

#spinner {
    position: relative;
    left: 50%;
    margin-top: 200px;
    background-color: white;
    border: none;
}

#spinnerTwo {
    position: relative;
    left: 50%;
    margin-top: 300px;
    background-color: white;
    border: none;
}

.charts {
    padding: 45px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur( 5px);
}

.description {
    margin: 10px;
    padding: 45px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur( 5px);
}

.companyDetails {
    text-align: center;
}